div.svelte-flow__node {
    background-color: green;
}

.svelte-flow__node div.svelte-flow__handle.source {
    background-color: blue;
    border-color: black;
}

.svelte-flow__node div.svelte-flow__handle.target {
    background-color: yellow;
    border-color: black;
}